html
  head
    title Jeunes Leaders du Monde
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Mon site de conseils en développement personnel et leadership
      p Bienvenue sur mon site dédié à l'amélioration de soi-même et à la prise de leadership.
    nav
      ul
        li
          a(href='/') Accueil
        li
          a(href='/coaching') Coaching
        li
          a(href='/formation') Formation
        li
          a(href='/events') Événements
    main
      h2 Présentation
      p Ce site a pour but de fournir des conseils pratiques et des ressources utiles pour aider les jeunes à développer leur potentiel personnel et professionnel, ainsi qu'à améliorer leur leadership et leur influence.
      h2 Nos services
      ul
        li Coaching personnalisé pour le développement personnel et le leadership
        li Formations en ligne et en présentiel sur divers sujets liés au développement personnel et professionnel
        li Participation à des événements et des ateliers pour rencontrer d'autres personnes intéressées par le développement personnel et le leadership
    footer
      p Copyright © 2023 jlm
