section#services
  h2 Nos Services
  .services-container
    .service
      img(src='/images/coaching.jpg')
      h3 Coaching
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut lorem suscipit, luctus risus ac, bibendum velit.
      a(href='/coaching') En savoir plus
    .service
      img(src='/images/formation.jpg')
      h3 Formation
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut lorem suscipit, luctus risus ac, bibendum velit.
      a(href='/formation') En savoir plus
    .service
      img(src='/images/events.jpg')
      h3 Événements
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut lorem suscipit, luctus risus ac, bibendum velit.
      a(href='/events') En savoir plus
    .service
      img(src='/images/coaching.jpg')
      h3 Service 4
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut lorem suscipit, luctus risus ac, bibendum velit.
      a(href='#') En savoir plus
